# Python
__pycache__/
*.pyc

# Caches
hf-cache/
miopen-cache/
.cache/

# Outputs
outputs/

# Models
*.safetensors
*.pt
*.pth
*.bin

# Containers / VM images
*.tar
*.img
*.sqsh
*.sif
*.iso
*.qcow2
*.vmdk
*.vdi
*.ova
*.ovf
*.raw

# Compressed images
*.img.gz
*.img.xz
*.img.zst
*.img.bz2